#Carpetes Local que no s'han de comitejar
tests_guillem/
sintesis_venv/
dades_guillem/
dades_marti/
elliptic_bitcoin_dataset/
.conda/
elipticData_graph.pkl
Twitter_May_Aug_2014.txt
twitter.graphml
sec/
